width: 100%;
height: 10em;
display: flex;
flex-direction: row;
border: 2px solid black;
border-bottom: 0px;

.blackkey {
    display: flex;
    flex-direction: row;
    width: 50em;
    background-color: white;
}

.filler {
    display: flex;
    flex-direction: row;
    width: 25em;
}

.filler + #corner-left {
    border: 2px solid black;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}

.filler + #corner-right {
    border: 2px solid black;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

.blackkey .keycodes {
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 6%;
    font-size: 1.5rem;
}

.blackkey .keycodes_active {
    width: 100%;
    background-color: rgb(42, 42, 42);
    color: white;
    border-radius: 6%;
    font-size: 1.5rem;
}

.blackkey button:active {
    background-color: rgb(42, 42, 42);
}