width: 100%;
height: 10em;
display: flex;
flex-direction: row;
border: 2px solid black;
border-bottom: 0px;
border-top: 0px;

.whitekey {
    display: flex;
    flex-direction: row;
    width: 50em;
    background-color: white;
}

.whitekey .keycodes {
    width: 100%;
    background-color: white;
    border-top: 0px;
    border-left: 0px;
    border-radius: 0%;
    font-size: 1.5rem;
}

.whitekey .keycodes_active {
    width: 100%;
    background-color: rgb(231, 231, 231);
    border-top: 0px;
    border-left: 0px;
    border-radius: 0%;
    font-size: 1.5rem;
}

.whitekey button:active {
    background-color: rgb(231, 231, 231);
}