display: flex;
flex-direction: column;
height: 100vh;

.parameters { 
    display: flex; 
    flex-direction: row; 
} 

.column1 { 
    width: 50%; 
    height: 70vh; 
    background-color: green; 
    text-align: right; 
    color: white; 
} 

.column2 { 
    width: 50%; 
    color: green; 
    height: 70vh; 
} 

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
}