display: flex;
flex-direction: column;
height: 100vh;

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    height: 10vh;
    background-color: #0457A0;
}

.header img {
    max-height: 100%; 
    width: auto;       
}

.parameters { 
    display: flex; 
    flex-direction: row; 
} 

.column1 { 
    width: 50%; 
    height: 60vh; 
    background-color: green; 
    text-align: right; 
    color: white; 
    overflow: scroll;
} 

.column2 { 
    width: 50%; 
    color: green; 
    height: 60vh; 
} 

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
}