.oscillator-icon {
  width: 100 px;
  height: 100%;
  border-radius: 2px;
  margin: 20px;
}

.icon-image {
    width: 100px;
    height: 100px;
    
}

.filter-icon {
    width: 100 px;
    height: 100%;
    border-radius: 2px;
    margin: 20px;
}

