display: flex;
flex-direction: row;
justify-content: flex-start;
gap: 10px;

.oscillator {
  flex-direction: row;
  width: 100px;
  height: 100px;
  border-radius: 1px;
  margin: 2px;
  background-color: gray;
}

.oscillator_active {
  flex-direction: row;
  width: 100px;
  height: 100px;
  border-radius: 1px;
  margin: 2px;
  background-color: black;
}

.lfo-icon {
  width: 100px;
  height: 100px;
  border-radius: 1px;
  margin: 2px;
  background-color: gray;
}

.lfo-icon_active {
  width: 100px;
  height: 100px;
  border-radius: 1px;
  margin: 2px;
  background-color: black;
}

.lfo-icon:hover {
  background-color: lightslategrey;
}

.lfo-icon:active {
  background-color: black;
}

.oscillator:hover {
  background-color: lightslategrey;
}

.oscillator:focus {
  background-color: black;
}

.oscillator:active {
  background-color: rgb(79, 79, 79);
  width: 100px;
  height: 100px;
  border-radius: 1px;
  margin: 2px;
}



.icon-image {
    width: 100px;
    height: 100px;
    
}

.filter-icon {
    width: 100 px;
    height: 100%;
    border-radius: 2px;
    margin: 20px;
}

