display: flex;
flex-direction: row;
justify-content: flex-start;
gap: 10px;

.oscillator {
  width: 5vh;
  height: 5vh;
  border-radius: 1px;
  margin: 2px;
  background-color: gray;
}

.oscillator:hover {
  background-color: lightgray;
}

.oscillator:focus {
  background-color: black;
}

.oscillator:active {
  background-color: black;
  width: 5vh;
  height: 5vh;
  border-radius: 1px;
  margin: 2px;
}



.icon-image {
    width: 5vh;
    height: 5vh;
    
}

.filter-icon {
    width: 100 px;
    height: 100%;
    border-radius: 2px;
    margin: 20px;
}

